Basic Level:

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [2]:
l = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in l:
    sum = sum + i
sum

45

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [12]:
s = 'sai'
s1=''
for i in s[::-1]:
    print(i)

i
a
s

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [14]:
n = 6
f = 1
for i in range(1,n+1):
    f = f * i
f

720

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [18]:
n = 10

for i in range(1,11):
    m = n*i
    print(n,'*',i,'=', m)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [15]:
Even_Odd_List = [1,2,3,4,5,6,7,8,9]
Even = []
Odd = []

for i in Even_Odd_List:
    if i % 2 == 0:
        Even.append(i)
    else:
        Odd.append(i)
print(Even.count,Odd.count)
print(len(Even), len(Odd))

<built-in method count of list object at 0x7fb2a6398080> <built-in method count of list object at 0x7fb2a6695540>
4 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [16]:
Sq = [x**2 for x in range(1,6)]
Sq

[1, 4, 9, 16, 25]

8. Create a program to find the length of a string without using the `len()` function.

In [17]:
s = 'saikumar'

length = 0

for i in s:
    length = length + 1
length

8

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [19]:
l = [1,2,3,4,5,6,7,8,9]
sum = 0
for x in l:
    sum = sum+x
print("Average is : ", sum/len(l))

Average is :  5.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [24]:
x = 0
y = 1
n = 10
print(x)
print(y)

for i in range(1,n-1):
    z = x+y
    x =y
    y=z
    print(z)

0
1
1
2
3
5
8
13
21
34

Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [28]:
l = [1,2,3,4,5,5,4,3]
s = set()
for i in l:
    s.add(i)
if len(l) != len(s):
    print("have duplicates")
else:
    print("no duplicates")

have duplicates

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [32]:
import sympy

prime = sympy.primerange(1,10)

for i in prime:
    print(i)

2
3
5
7

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [42]:
s = 'saikumareiou'
count = 0
for i in s:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        count = count + 1
count

8

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [44]:
l = [[1,2,3],[4,5,6],[7,8,9]]
l1 =[]
for i in l:
    for j in i:
        l1.append(j)
print(max(l1))

9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [49]:
l = [1,2,4,3,4,3,4]
n = 4
for i in l:
    if i == n:
        l.remove(n)
l

[1, 2, 3, 3]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [50]:
for i in range(1,6):
    for j in range(1,11):
        print(i,'*',j,'=',i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [54]:
degree_fahrenheit = [100,200,300,400]
degree_celsius = []
for i in degree_fahrenheit:
    degree_celsius.append((i-32)*5 / 9)
print(degree_celsius)

[37.77777777777778, 93.33333333333333, 148.88888888888889, 204.44444444444446]

18. Create a program to print the common elements from two lists using a `for` loop.

In [55]:
l1 = [1,2,3,4,5]
l2 = [1,3,5,6,7]

for i in l1:
    for j in l2:
        if i == j:
            print(i)

1
3
5

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [57]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [67]:
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

# Input two numbers from the user
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Calculate the GCD using the find_gcd function
gcd = find_gcd(num1, num2)

# Display the result
print(f"The GCD of {num1} and {num2} is {gcd}")

Enter the first number:  6
Enter the second number:  8

The GCD of 6 and 8 is 2

Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [76]:
l = [1,2,3,4]
sum = 0
for i in l:
    sum = sum + i
sum

10

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [3]:
import sympy
prime_range = sympy.primerange(1,100)
l = []
mul = 1
n = 60
for i in prime_range:
    if n % i == 0:
        mul = mul*i
        l.append(i)
    while mul==n:
        break
l

[2, 3, 5]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [15]:
l1 = [1,1,2,2,3,3,3]
a = set([i for i in l1])
a

{1, 2, 3}

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [4]:
def is_palindrome(num):
    return str(num) == str(num)[::-1]
limit = int(input("Enter the limit: "))

a =[num for num in range(limit+1) if is_palindrome(num)]
a

Enter the limit:  200

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 99,
 101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191]

25. Write a program to flatten a nested list using list comprehension.

In [10]:
l =[[1,2,3],[4,5,6],[6,7,8]]
[j for i in l for j in i]

[1, 2, 3, 4, 5, 6, 6, 7, 8]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [15]:
l = [1,2,3,4]

Even_Sum = sum([x for x in l if x % 2 == 0])
print(Even_Sum)

Odd_Sum = sum([x for x in l if x % 2 != 0])
print(Odd_Sum)

6
4

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [17]:
l = list(range(1,11))

[x**2 for x in l if x % 2 != 0]

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [23]:
keys = ['name','age','gender']
values = ['sai', 23, 'male']

my_dict = {keys[i]:values[i] for i in range(len(keys))}
my_dict

{'name': 'sai', 'age': 23, 'gender': 'male'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [38]:
s = 'pwskills is a coaching center'
def extract_vowels(s):
    
    a = list([i for i in s if i == 'a' or i == 'e' or i =='i' or i == 'o' or i =='u'])
    return a
extract_vowels(s)

['i', 'i', 'a', 'o', 'a', 'i', 'e', 'e']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [44]:
l =['sai123','kumar138']

[''.join(j for j in i if j.isdigit()) for i in l]

['123', '138']

Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [46]:
def sieve_of_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False

    for i in range(2, int(limit**0.5) + 1):
        if sieve[i]:
            for multiple in range(i * i, limit + 1, i):
                sieve[multiple] = False

    return [num for num, is_prime in enumerate(sieve) if is_prime]

# Input the limit
limit = int(input("Enter the limit: "))

if limit < 2:
    print("There are no prime numbers for limits less than 2.")
else:
    prime_numbers = sieve_of_eratosthenes(limit)
    print(f"Prime numbers up to {limit}: {prime_numbers}")

Enter the limit:  10

Prime numbers up to 10: [2, 3, 5, 7]

In [5]:
def is_prime(i):
    
    
    return 'prime'
num = 50

[i for i in range(2,num+1) if is_prime(i)]

Prime numbers up to 50 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [3]:
def generate_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1) for c in range(b, limit + 1) if a**2 + b**2 == c**2]
    return triplets

# Input the limit
limit = int(input("Enter the limit: "))

if limit < 3:
    print("Pythagorean triplets are not defined for limits less than 3.")
else:
    triplets = generate_pythagorean_triplets(limit)
    print(f"Pythagorean triplets up to {limit}: {triplets}")

Enter the limit:  12

Pythagorean triplets up to 12: [(3, 4, 5), (6, 8, 10)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [8]:
l1 = [1,2,3]
l2 = [4,5,6]

a= [(a,b) for a in l1 for b in l2]
a

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [17]:
l = [1,2,3,4,4,4,4,5,5,5,6,7,8]

import statistics

mean = statistics.mean([x for x in l])
print(mean)

median = statistics.median([x for x in l])
print(median)

mode = statistics.mode([x for x in l])
print(mode)

4.461538461538462
4
4

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [31]:
from math import comb

num_rows = int(input("Enter the number of rows for Pascal's triangle: "))

triangle = [[comb(n, k) for k in range(n + 1)] for n in range(num_rows)]

for row in triangle:
    print(" ".join(map(str, row)).center(num_rows * 3))

Enter the number of rows for Pascal's triangle:  10

              1
             1 1
            1 2 1
           1 3 3 1
          1 4 6 4 1
        1 5 10 10 5 1
       1 6 15 20 15 6 1
     1 7 21 35 35 21 7 1
    1 8 28 56 70 56 28 8 1
 1 9 36 84 126 126 84 36 9 1

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [49]:

def factorial(n):
    mul = 1
    for i in range(1,n+1):
        mul = mul * i
    return mul

sum([factorial(i) for i in range(1,6)])

153

37. Write a program that finds the longest word in a sentence using list comprehension.

In [10]:
s = "I am Sai Kumar"

words = s.split()

lon_word_length = max([len(i) for i in words])

lon_word = [i for i in words if len(i) == lon_word_length]
lon_word

['Kumar']

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [33]:
# Function to count vowels in a string
def count_vowels(s):
    vowels = "AEIOUaeiou"
    return sum(1 for i in s if i in vowels)

# List of strings
string_list = ['sai','kumar','rajaraam','seeetaram']

# Filter strings with more than three vowels using list comprehension
filtered_list = [s for s in string_list if count_vowels(s) > 3]

# Print the filtered list
print("Strings with more than three vowels:", filtered_list)

Strings with more than three vowels: ['rajaraam', 'seeetaram']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [35]:
sum([x for x in range(1,1001)])

500500

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [63]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

def is_palindrome(num):
    return str(num) == str(num)[::-1]
start = 1
end = 1000  # You can adjust the range as needed

# Print prime palindrome numbers within the specified range
print("Prime Palindrome Numbers in the range", start, "to", end, ":")
for num in range(start, end + 1):
    if is_prime(num) and is_palindrome(num):
        print(num)

Prime Palindrome Numbers in the range 1 to 1000 :
2
3
5
7
11
101
131
151
181
191
313
353
373
383
727
757
787
797
919
929

In [64]:
n = 10
if i == 2:
    return True
for i in range(2,n):
    if n % i != 0:
        print(n)

SyntaxError: 'return' outside function (3957135044.py, line 3)